@font-face {
  font-family: FontDuSite;
  src: 
    url("fonts/audiowide-regular-webfont.ttf") format("truetype"),
    url("fonts/audiowide-regular-webfont.eot") format("embedded-opentype	"),
    url("fonts/audiowide-regular-webfont.woff") format("woff"),
    url("fonts/audiowide-regular-webfont.svg") format("svg");
}
* {
  box-sizing: border-box;
}
a,p,h1,h3,h4{
  font-family: FontDuSite;
  text-decoration: none;
  color: white;
}

.button:hover , #button{
  background-color: black;
}

.button:hover,.bottom p ,.middiv a,h4{
  color:grey;
}
.background {
  background-image: url(images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0%;
}
.bottom{
  align-self: center;
  align-items: center;
}
div{
  display: flex;
  justify-content: center;
  width: 100%;
}
.bottom p{
  justify-self: center;
}
.milieu{
  display: flex;
  justify-content: center;
}
.middiv{
  align-items: center; 
}
.divrose{
  align-items: center;
  background-color: rgb(133, 7, 72);

}
.noFont{
  font-family: Arial, Helvetica, sans-serif;
}
.sectionNoire{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  padding: 2em;
}
.divNoir{
  justify-content: flex-start;
  margin-right: 30px;
  
}
.divdiv{
  justify-content: flex-start;
}
.colonne{
  justify-content: flex-start;
}
.colonne h4,.colonne p{
  margin: 0px;
  margin-left: 16px;
  margin-bottom: 12px;
}
.divdiv:last-child{
  border-top-color: grey;
  border-top-width: 1px;
  border-bottom-width: 0px;
  margin-top: auto;
  padding-top: 10%;
}
.button , #logo{
  display: flex;
  align-items: center;
  padding-left:  8px;
}

.button{
 padding-left:1em;
 padding-right: 1em;
 padding-top:1em;
 padding-bottom: 1em;
}
.divNoir h3{
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  padding: 0px;
  margin: 0px;
}
.greyBackground{
  background-color: rgba(0, 0, 0, 0.489);
  size: 100%;
}
.logo{
  height: 30px;
  width: 70px;
  object-fit: cover;
}
#logo1{
  object-position: -14px 2px;
}
#logo2{
  object-position: -29px -27px;
}
#logo3{
  object-position: -23px -59px;
}
#logo4{
  object-position: -34px -86px;
}.fin{
  color: black;
}
.fondBlanc{
  background-color: white;
}
.column{
  display: flex;
  flex-direction: column;
  width: auto;
}
.gros{
  font-size: 4em;
  margin: 0px;
}
.moyen{
  font-size: 3em;
}
#readMore{
  background-color: black;
}